body {
  background-color: #d4f3ef;
  margin: 0;
}

div{
  background-color: #5fdde5;
  margin: 0;
  height: 500px;
  }
h1 {
  color: #d92027;
  margin-top: 0;
}
h2 {
  color: #d92027;
}
h3 {
  color: #d92027;
}
hr {
  border-color: #01a9b4;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
  margin: 50px 50%;
}
img{
  padding: 50px;
}

.A{
  margin: 0 30%;
}
.B{
  margin: 0 40%;
}
